img {
  height: 300px;
  width: 300px;
  right: 500px;
}

p {
 text-align: right;
 color: black;
}

.about-page {
  background-color: rgba(137, 194, 237, 0.852);
}

.connors-github {
  height: 5%;
  width: 5%;
  margin-left: 500px;
}

.connors-linkedin {
  height: 5%;
  width: 5%;
  margin-left: 500px;
}
