.bio-image {
  height: 300px;
  width: 300px;
  right: 500px;
}

.bio-p {
 text-align: right;
 color: black;
}

.about-page {
  background-color: rgba(137, 194, 237, 0.852);
}

.github {
  display: inline;
  height: 5%;
  width: 5%;
  margin-left: 800px;
  border-style: double;
}

.linkedin {
  display: inline;
  height: 5%;
  width: 5%;
  margin-left: 800px;
  border-style: double;
}



